{% extends "home/base.html" %}
{% load static %}
{% block title %}<title>Rejoindre - Cabmaster</title> {% endblock %}
{% block content %}

<style>
    body {
        background-color: var(--background-color);
    }
</style>

<section id="contact">
    <div class="container" id="login">
        <h2 class="mb-3 mt-4 pb-2 display-5 text-white text-center">Connexion</h2>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div>
                    <form class="form-signin text-center mx-auto" style="width: 60%;">
                        {% csrf_token %}
                        {{ login_form.email }}

                        {{ login_form.password }}
                        <button id="login-button" class="primary-btn rounded-pill mt-3">Connexion <i
                                class="bi bi-arrow-up-right-circle" id="login-logo"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="{% static 'home/js/login.js' %}"></script>
{% endblock %}