{% extends 'home/base.html' %}
{% load static %}
{% block content %}

{% block title %}<title>À Propos - Cabmaster</title> {% endblock %}

<style>
    body {
        background-color: var(--background-color);
    }
</style>




<section id="legal-mentions" class="py-md-5">
    <div class="container">
        <h2 class="py-3 border-bottom display-4 text-white text-center">Mentions Légales et Politique de Confidentialté
        </h2>

        <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center mt-4">
            <div class="col-12 col-lg-6 col-xl-7 mx-auto">
                <div class="col-12 col-xl-11">
                    <p class="lead mb-4 hook text-white">

                        Cabmaster est attentive aux droits des personnes, notamment en ce qui concerne la collecte de
                        données
                        automatisée. Désireuse d'être transparente avec sa clientèle, celle-ci a instauré une politique
                        détaillant tous ces traitements, leurs objectifs ainsi que les moyens offerts aux individus pour
                        qu'ils puissent pleinement exercer leurs droits.

                    </p>

                    <p class="lead mb-4 hook text-white">

                        Pour toute information complémentaire sur la protection des données personnelles, nous vous
                        invitons
                        à consulter <a class="text-white" href="https://www.cnil.fr/">le site de la CNIL</a>.
                    </p>
                    <p class="lead mb-4 hook text-white">
                        L'utilisation de ce site signifie l'acceptation sans réserve des dispositions et
                        conditions d'utilisation suivantes.

                        La version figurant en ligne de ces conditions d'utilisation est valable pendant
                        toute la durée d'utilisation du site et jusqu'à ce qu'une nouvelle version la remplace.
                    </p>

                    <h3 class="text-white text-center my-4 border-bottom">Informations Collectées</h3>
                    <p class="lead mb-4 hook text-white">

                        Les informations personnelles que nous collectons :
                        Lorsque vous visitez le Cabmaster, nous recueillons automatiquement certaines informations sur
                        votre
                        appareil, notamment des informations sur votre navigateur web, votre adresse IP, votre fuseau
                        horaire et certains des cookies installés sur votre appareil.<br><br>En outre, lorsque vous
                        naviguez
                        sur le
                        site, nous recueillons des informations sur les pages web ou les produits individuels que vous
                        consultez, sur les sites web ou les termes de recherche qui vous ont renvoyé au site et sur la
                        manière dont vous interagissez avec le site.<br><br>Nous désignons ces informations collectées
                        automatiquement par le terme "informations sur les appareils".<br><br>En outre, nous pourrions
                        collecter
                        les données personnelles que vous nous fournissez (y compris, mais sans s'y limiter, le nom, le
                        prénom, l'adresse, les informations de paiement, etc.) lors de l'inscription afin de pouvoir
                        exécuter le contrat.
                    </p>
                    <h3 class="text-white text-center my-4 border-bottom">Pourquoi traitons-nous vos données ?</h3>
                    <p class="lead mb-4 hook text-white">

                        Notre priorité absolue est la sécurité des données des clients et, à ce titre, nous ne pouvons
                        traiter que des données minimales sur les utilisateurs, uniquement dans la mesure où cela est
                        absolument nécessaire pour maintenir le site web.<br><br>Les informations collectées
                        automatiquement
                        sont
                        utilisées uniquement pour identifier les cas potentiels d'abus et établir des informations
                        statistiques concernant l'utilisation du site web.<br><br>Ces informations statistiques ne sont
                        pas
                        autrement agrégées de manière à identifier un utilisateur particulier du système.

                    </p>

                    <h3 class="text-white text-center my-4 border-bottom">Utilisation Anonyme</h3>
                    <p class="lead mb-4 hook text-white">

                        Vous pouvez visiter le site web sans nous dire qui vous êtes ni révéler d'informations, par
                        lesquelles quelqu'un pourrait vous identifier comme un individu spécifique et
                        identifiable.<br><br>
                        Toutefois, si vous souhaitez utiliser certaines fonctionnalités du site web, ou si vous
                        souhaitez
                        recevoir notre lettre d'information ou fournir d'autres détails en remplissant un formulaire,
                        vous
                        pouvez nous fournir des données personnelles, telles que votre e-mail, votre prénom, votre nom,
                        votre ville de résidence, votre organisation, votre numéro de téléphone.<br><br>Vous pouvez
                        choisir
                        de ne
                        pas nous fournir vos données personnelles, mais il se peut alors que vous ne puissiez pas
                        profiter
                        de certaines fonctionnalités du site web.<br><br>Par exemple, vous ne pourrez pas recevoir notre
                        bulletin
                        d'information ou nous contacter directement à partir du site web. Les utilisateurs qui ne savent
                        pas
                        quelles informations sont obligatoires sont invités à nous contacter via
                        contact.cabmaster@gmail.com. </p>


                    <h3 class="text-white text-center my-4 border-bottom">Vos Droits</h3>
                    <p class="lead mb-4 hook text-white">

                        Si vous êtes un résident européen, vous disposez des droits suivants liés à vos données
                        personnelles:<br><br>

                        Le droit d'être informé.<br>
                        Le droit d'accès.<br>
                        Le droit de rectification.<br>
                        Le droit à l'effacement.<br>
                        Le droit de restreindre le traitement.<br>
                        Le droit à la portabilité des données.<br>
                        Le droit d'opposition.<br>
                        Les droits relatifs à la prise de décision automatisée et au profilage.<br><br>
                        Si vous souhaitez exercer ce droit, veuillez nous contacter via les coordonnées ci-dessous. </p>


                    <h3 class="text-white text-center my-4 border-bottom">Sites Externes</h3>
                    <p class="lead mb-4 hook text-white">
                        Notre site web peut contenir des liens vers d'autres sites web qui ne sont pas détenus ou
                        contrôlés
                        par nous. Sachez que nous ne sommes pas responsables de ces autres sites web ou des pratiques de
                        confidentialité des tiers.<br><br>Nous vous encourageons à être attentif lorsque vous quittez
                        notre site
                        web et à lire les déclarations de confidentialité de chaque site web susceptible de collecter
                        des
                        informations personnelles. </p>

                    <h3 class="text-white text-center my-4 border-bottom">Sécurité des Informations</h3>
                    <p class="lead mb-4 hook text-white">
                        Nous sécurisons les informations que vous fournissez sur des serveurs informatiques dans un
                        environnement contrôlé et sécurisé, protégé contre tout accès, utilisation ou divulgation non
                        autorisés.<br><br>Nous conservons des garanties administratives, techniques et physiques
                        raisonnables pour
                        nous protéger contre tout accès, utilisation, modification et divulgation non autorisés des
                        données
                        personnelles sous son contrôle et sa garde.<br><br>Toutefois, aucune transmission de données sur
                        Internet
                        ou sur un réseau sans fil ne peut être garantie entièrement sûre. </p>

                    <h3 class="text-white text-center my-4 border-bottom">Divulgation Légale</h3>
                    <p class="lead mb-4 hook text-white">

                        Nous divulguerons toute information que nous collectons, utilisons ou recevons si la loi l'exige
                        ou
                        l'autorise, par exemple pour nous conformer à une citation à comparaître ou à une procédure
                        judiciaire similaire, et lorsque nous pensons de bonne foi que la divulgation est nécessaire
                        pour
                        protéger nos droits, votre sécurité ou celle d'autrui, enquêter sur une fraude ou répondre à une
                        demande du gouvernement. </p>

                    <h3 class="text-white text-center my-4 border-bottom">Informations de Contact</h3>
                    <p class="lead mb-4 hook text-white">

                        Si vous souhaitez nous contacter pour comprendre davantage la présente politique ou si vous
                        souhaitez nous contacter concernant toute question relative aux droits individuels et à vos
                        informations personnelles, vous pouvez envoyer un courriel à contact.cabmaster@gmail.com.
                    </p>


                </div>

            </div>
        </div>
    </div>
</section>











{% endblock %}